@font-face {
  font-family: "Inter";
  src: url("/webfonts/Inter-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Inter";
  src: url("/webfonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

